# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs
[#]*[#]
*.\~
*.ede

# Eclipse & NetBeans
.settings
.project
.buildpath
nbproject
build
dist
